<main>
  <input type="text" #text>
  <button (onclick)="searchFunc($event)">Click me</button>
  <table mat-table [dataSource]="this.data" class="mat-elevation-z8">
    <ng-container matColumnDef="postId">
      <th mat-header-cell *matHeaderCellDef> postId </th>
      <td mat-cell *matCellDef="let element"> {{element.postId}} </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef> body </th>
      <td mat-cell *matCellDef="let element"> {{element.body}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</main>

